
.treatmentCourseInfo {
    border-top: 1px solid #ccc;
    padding-top: 8px;
}

.timingsBadge {
    padding: 0 6px;
    border-radius: 4px;

    font-size: 14px;
    font-weight: 500;

    background-color: #ddd;
}

.timesIcon {
    font-size: 16px;

    user-select: none;
}

.intervalIcon {
    font-size: 16px;

    user-select: none;
}

.progressBarStep {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    font-size: 12px;

    color: rgba(0, 116, 217, 1);
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 50%;

    user-select: none;
    cursor: pointer;
}

.progressBarStep:hover {
    color: white;
    background-color: rgba(0, 116, 217, 0.5);
}

.progressBarStep.accomplished {
    color: white;
    background-color: rgba(0, 116, 217, 1);
}
