
.createTreatmentCourseModal {

}

.inputList {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.medicationListScrollPane {
    display: flex;
    flex-direction: column;
    flex: 1;

    max-height: 500px;

    border: 1px solid #ddd;
    border-radius: 4px;

    overflow: hidden;
}
