
.parameterInfo {
    padding: 6px;
}

.parameterInfo + .parameterInfo {
    margin-top: 6px;
}

.parameterInfo.composite {
    border: none;
}

.parameterInfo.number {

}

.parameterInfo.enum {

}



.parameterInfo .content {
    font-size: 16px;
}

.parameterInfo .content .title {

}

.parameterInfo .content .icon {
    user-select: none;
    cursor: pointer;
}

.parameterInfo .content.normal {

}

.parameterInfo .content.viable {
    font-weight: 500;
}

.parameterInfo .content.danger {
    font-weight: 600;
}

.parameterInfo .content.lethal {
    font-weight: 600;
}
