
.gameInfoScreen {
    display: flex;
    flex: 1;

    min-height: 0;
}

.saveList {
    display: flex;
    flex-direction: column;
    flex: 1;

    min-height: 0;

    border-right: 1px solid #ccc;
}

.saveListHeader {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #ccc;
}

.saveListItem {
    flex: 3;
}

.saveListItemHeader {
    border-bottom: 1px solid #ccc;
}
